blinker==1.9.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
Flask==3.1.2
Flask-HTTPAuth==4.8.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
pycparser==2.23
pygit2==1.18.2
requests==2.32.5
tqdm==4.67.1
urllib3==2.5.0
Werkzeug==3.1.3
